/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* css reset */

/* animate */
@keyframes slideleftVol {
  0% {
    width: 3.3em;
  }
  100% {
    width: 14em;
  }
}

@keyframes slideUpVol {
  0% {
    margin-top: 5em !important;
    position: absolute;
    top: 0;
  }
  100% {
    position: relative;
    height: 11em !important;
  }
}

@keyframes slideDownVol {
  0% {
    width: 3.3em;
  }
  100% {
    width: 14em;
  }
}

@keyframes textFadeUpRight {
  0% {
    transform: rotate(0deg);
    margin-left: -15.5px;
    margin-top: -50px;
    opacity: 1;
    color: var(--normal);
  }
  50% {
    transform: rotate(-60deg);
    margin-left: -50.5px;
  }
  75% {
    margin-left: -60.5px;
  }
  100% {
    transform: rotate(0deg);
    margin-left: -80.5px;
    margin-top: -120px;
    opacity: 0;
    color: var(--neutral);
  }
}
@keyframes textFadeUpLeft {
  0% {
    transform: rotate(0deg);
    margin-left: -15.5px;
    margin-top: -50px;
    opacity: 1;
    color: var(--normal);
  }
  50% {
    transform: rotate(60deg);
    margin-left: 50.5px;
  }
  75% {
    margin-left: 60.5px;
  }
  100% {
    transform: rotate(0deg);
    margin-left: -80.5px;
    margin-top: -120px;
    opacity: 0;
    color: var(--neutral);
  }
}

@keyframes sliderightVol {
  0% {
    width: 14em;
  }
  100% {
    width: 3.3em;
  }
}

@keyframes rotate60degRight {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate60degLeft {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* end animate */
/* end variabel */

/* custom fakescroll */
.fakeScroll {
  overflow: visible !important;
}

.fakeScroll__wrap {
  overflow: hidden;
  height: 100%;
  position: relative;
  z-index: 1;
  border-radius: 5px;
}

.fakeScroll__content {
  height: 100%;
  width: 100%;
  padding: 0 0 2px 0;
  /* right           : -18px; */
  position: relative;
  overflow: auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scrollbar-width: none;
}

.fakeScroll__content::-webkit-scrollbar {
  display: none;
}

.fakeScroll__track {
  position: absolute;
  top: -30px;
  bottom: 0;
  cursor: default;
  right: -10px;
  width: 30px;
  border-radius: 10px;
  padding: 5px 0;
}

.fakeScroll__bar {
  position: relative;
  background: rgba(255, 255, 255, 0.4);
  top: 0;
  z-index: 0;
  transition: background 0.1s;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  width: 25%;
  right: -22px;
  border-radius: 5px;
  padding: 5% 0;
  box-sizing: border-box;
}

.fakeScroll__bar:hover {
  background: rgba(255, 255, 255, 0.55);
}

.fakeScroll__bar.fakeScroll--grabbed {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  background: white;
}

body.fakeScroll--grabbed {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* end custom fakescroll */

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background-color: var(--black);
  /* overflow-x: hidden; */
}

/* audio section style */
.audio-player {
  position: relative;
  width: 100%;
  height: 30em;
  padding: 20px 0;
}

.audio-player .background::before {
  content: " ";
  top: 0;
  margin: 0 auto;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(27, 27, 27, 0.55);
  background-image: linear-gradient(rgba(27, 27, 27, 0.2), rgba(0, 0, 0, 0.9));
  overflow: hidden;
}
.audio-player .background {
  position: absolute;
  height: 85%;
  width: 90%;
  margin: 0 auto;
  background-image: url(https://ichef.bbci.co.uk/images/ic/640x640/p0cjyr4p.jpg);
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(10px) grayscale(1);
  transform: scale(1.2);
  overflow: hidden;
}

.hero-space {
  position: inherit;

  width: 65%;
  height: 12em;
  margin: 20px auto 0 auto;
}

.detail-item {
  flex: 1;
}

.detail-item img {
  width: 195px;
}

.judul-rule {
  width: 2em;
  border: 2px solid var(--normal);
  border-radius: 2px;
  opacity: 1;
  margin: 5px 0 15px 0;
}

.detail-item * {
  color: #ffffff91;
  font-family: "Roboto Regular", sans-serif;
}

.judul * {
  color: var(--neutral);
  transition: all 200ms ease-in-out;
  font-family: "Roboto Medium", sans-serif;
  font-weight: 100;
}

.judul *:hover {
  color: var(--normal);
  border-bottom: 1px solid var(--normal);
}

.canva-player {
  position: inherit;
  width: 65%;
  height: 13em;
  margin: 0 auto 0 auto;
}

.p-bar {
  width: 100%;
  height: 5px;
  border-radius: 2px;
  position: absolute;
  z-index: 20;
}

#goto {
  position: absolute;
  background-color: white;
  padding: 2px;
  width: max-content;
  height: fit-content;
  border-radius: 2px;
  margin-top: -3em;
  transition: opacity 100ms ease-in-out;
  left: calc(0% - 1.2em);
  opacity: 0.3;
}

#goto::after {
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid var(--neutral);
  position: absolute;
  margin: 1.4em 0 0 -1.2em;
}

.p-bar.no-progress {
  background-color: var(--no-active);
  cursor: pointer;
}

.p-bar .progress {
  height: 5px;
  /* width akan mengikuti durasi suara (menggunakan js) */
  width: 0%;
  background-color: var(--normal);
}

.p-bar .p-point {
  background-color: var(--normal);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 0 solid transparent;
  position: absolute;
  z-index: 50;
  top: 1;
  margin-top: -5px;
  transition: all 200ms ease-in-out;
  left: 0;

  /* left akan mengikuti durasi suara (menggunakan js) */
  margin-left: calc(0% - 2px);
}
.p-bar .p-point:hover,
.p-bar .p-point:active {
  box-shadow: 0px 0px 10px 5px #94f3e580;
}

.p-bar.no-progress > .duration-notation {
  color: var(--neutral);
  margin-top: 0.5em;
}

.audio-controller {
  margin: 2em 0 0 0;

  /* border: 1px solid white; */
}

.audio-controller > .audio-controller-item {
  flex: 1;
  height: 5.5em;
}

/* .right {
  border-color: red !important;
} */

/* style volume */
.audio-controller > .right > #volume-controller {
  width: 3em;
  margin-left: -10px;
  overflow: hidden;
  border: 0 solid transparent;
  background-color: transparent;
  color: white;
  animation: sliderightVol 600ms ease-in-out 0ms 1 alternate;
  animation-fill-mode: forwards;
  padding: 10px;
}

.audio-controller > .right > #volume-controller:hover {
  animation: slideleftVol 600ms ease-in-out 0ms 1 alternate;
  animation-fill-mode: forwards;
}

.audio-controller > .right > #volume-controller i.icofont-ui-volume {
  font-size: 40px;
  transition: all 100ms ease-in-out;
}

.audio-controller > .right > #volume-controller:hover i.icofont-ui-volume {
  font-size: 45px;
}

.audio-controller > .right > #volume-controller > .volume-bar > #indicatorVol {
  font-size: 20px;
  margin-left: 15px;
}

.audio-controller > .right > #volume-controller > .volume-bar {
  margin: -3px 0 0 5px;
  width: calc(6em+3px);
  height: 30px;
}

.audio-controller > .right > #volume-controller > .volume-bar > .volume-line {
  background-color: var(--no-active);
  width: 6px;
  height: 30px;
  display: inline-block;
  margin-left: 6px;
  border-radius: 2px;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}
.audio-controller
  > .right
  > #volume-controller
  > .volume-bar
  > .volume-line.active-whitin {
  background-color: var(--normal);
}

.audio-controller
  > .right
  > #volume-controller
  > .volume-bar
  > .volume-line.hover {
  height: 35px;
  background-color: var(--neutral);
}
/* end style volume */

/* style center audio-controller div */

.audio-controller > .center > * {
  position: relative;
  background-color: transparent;
  border: 0 solid transparent;
  padding: 0;
  color: var(--neutral);
  width: fit-content;
  height: min-content;
}
.audio-controller > .center > button#playBtn {
  font-size: 60px;
  padding: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: transparent;
  transition: all 200ms ease-in-out;
}

.audio-controller > .center > button#playBtn > div {
  position: relative;
  font-size: 26px;
  margin-left: 0.05em;
  padding: 0.2em 0.45em 0.2em 0.45em;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 5px solid white;
  transition: all 100ms ease-in-out;
}

.audio-controller > .center > button#playBtn > div i {
  position: absolute;
  line-height: 0;
  left: 12px;
  top: 26px;
}

.audio-controller > .center > button#playBtn i {
  position: absolute;
  line-height: 0;
  left: 0;
}
.audio-controller > .center > button#playBtn > i > i.icofont-ui-play::before {
  position: absolute;
  color: transparent;
  font-size: 30px;
  margin-top: -38px;
  left: -15.5px;
  transition: all 200ms ease-in-out;
}

.audio-controller > .center > button#playBtn i.icofont-play-alt-2::before {
  position: absolute;
  color: var(--neutral);
  transition: all 150ms ease-in-out;
}

.audio-controller > .center > button#playBtn:hover {
  background-color: var(--normal);
  transform: scale(1.2);
}

.audio-controller > .center > button#playBtn:hover div {
  border: 5px solid transparent;
  margin: 0 auto;
}

.audio-controller
  > .center
  > button#playBtn:hover
  > i
  > i.icofont-ui-play::before {
  color: var(--neutral);
  font-size: 40px;
  left: 15px;
  top: 0;
  margin-top: 0;
}

.audio-controller
  > .center
  > button#playBtn:hover
  i.icofont-play-alt-2::before {
  color: transparent;
}

.audio-controller > .center > button#playBtn:active {
  transform: scale(1);
}

#previousButtonChevron,
#nextButtonChevron,
#backInterval,
#forwardInterval {
  fill: var(--neutral);
  transition: all 200ms ease-in-out;
}
.audio-controller > .center > button:not(#playBtn) {
  transition: all 150ms ease-in-out;
}

.audio-controller > .center > button:not(#playBtn):hover {
  transform: scale(1.3);
}

.audio-controller > .center > button:not(#playBtn):active {
  transform: scale(1);
}

.audio-controller > .center > button:hover #previousButtonChevron,
.audio-controller > .center > button:hover #nextButtonChevron,
.audio-controller > .center > button:hover #backInterval,
.audio-controller > .center > button:hover #forwardInterval {
  fill: var(--normal);
}

.notasi-interval {
  left: 1;
  margin-left: -33.5px;
  margin-top: 20.6px;
  transition: all 150ms ease-in-out;
}

.audio-controller > .center > button:hover .notasi-interval {
  color: var(--normal);
}

.audio-controller > .center > button.rotateRight {
  animation-name: rotate60degRight;
  animation-duration: 700ms;
  animation-timing-function: cubic-bezier(1, -0.03, 0, 1);
}

.audio-controller > .center > button.rotateLeft {
  animation-name: rotate60degLeft;
  animation-duration: 700ms;
  animation-timing-function: cubic-bezier(1, -0.03, 0, 1);
}

.audio-controller > .center > button:not(#playBtn).rotateRight span,
.audio-controller > .center > button:not(#playBtn).rotateLeft span {
  opacity: 0;
}

.audio-controller > .center > button:not(#playBtn).rotateRight::after {
  content: "+10";
  position: absolute;
  top: 50px;

  animation-name: textFadeUpRight;
  animation-timing-function: cubic-bezier(1, -0.03, 0, 1);
  animation-duration: 700ms;
}
.audio-controller > .center > button:not(#playBtn).rotateLeft::after {
  content: "-10";
  position: absolute;
  top: 50px;

  animation-name: textFadeUpLeft;
  animation-timing-function: cubic-bezier(1, -0.03, 0, 1);
  animation-duration: 700ms;
}
/* end style center audio-controller div */

/* style left audio-controller div */

.audio-controller > .left > div {
  color: var(--neutral);
  font-size: 28px;
  cursor: pointer;
  margin-right: 1px;
  transition: all 150ms ease-in-out;
}

.audio-controller > .left > div:hover {
  color: var(--normal);
  font-size: 38px;
}
.audio-controller > .left > div:active {
  color: var(--normal);
  font-size: 28px;
}

.audio-controller > .left > button:hover {
  height: 45px !important;
  width: 45px !important;
  color: var(--normal) !important;
  font-size: 38px !important;
}
.audio-controller > .left > button:active {
  color: var(--normal) !important;
  font-size: 28px !important;
}
/* end style left audio-controller div */

/* style playback setting modal */
.audio-player .playback-setting-modal {
  transition: all 100ms ease-in-out;
}

.audio-player .playback-setting-modal .inner-container {
  position: absolute;
  z-index: 100;
  width: 15%;
  height: 6.5em;
  background-color: var(--black);
  margin-top: -14.8em;
  margin-left: 81em;
  border-radius: 2px;
  color: var(--neutral);
}

.audio-player .playback-setting-modal .inner-container .header {
  font-family: "Roboto Medium", sans-serif;
  width: 100%;
  height: 2em;
  line-height: 2em;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid var(--neutral);
  box-sizing: border-box;
}

.audio-player .playback-setting-modal .triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid var(--black);
  margin-top: -9.7em;
  margin-left: 96.8em;
  border-radius: 4px;
}

.playback-setting-modal .inner-container .main .desc {
  margin-top: 2px;
  font-family: "Roboto Regular", sans-serif;
}

.playback-setting-modal .inner-container .main .btn-auto-play {
  width: min-content;
  height: min-content;
}

.hidden {
  opacity: 0 !important;
  pointer-events: none;
  z-index: 0;
  position: relative;
}

.hidden * {
  opacity: inherit;
  position: relative;
  z-index: 0;
  pointer-events: none;
}

/* The switch - the box around the slider */
.switch {
  position: absolute;
  display: inline-block;
  margin-left: -45px;
  margin-top: 10px;
  width: 50px;
  height: 29px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#pl {
  position: absolute;
  z-index: 1000;
}
input:checked + .slider {
  background-color: var(--normal);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--normal);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: white;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*end style playback setting modal */
/* end audio section style */
/*  */
/* style description section */
.description_section {
  box-shadow: 0 -1px 0 0 #46575e, 0 -1.8px 0 0 rgba(0, 0, 0, 1);
  padding: 50px 0 0 0;
}

.description_section > .description_container {
  width: 70%;
  margin: 0 auto;
}

.previous_next_container > a {
  column-gap: 20px;
}

.description_container > div {
  margin-bottom: 20px;
}

.n_p,
.n_p:active,
.n_p:focus,
.n_p:visited {
  width: 45%;
  box-shadow: 0 0 0 1px #46575ece, 0 0 0 2px #000000 !important;
  text-decoration: none;
  padding: 1px;
}

.n_p > img {
  width: 100px;
  height: 100px;
}

.n_p > .data {
  padding: 5px 0;
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.n_p > .data > * {
  display: block;
  text-align: justify;
}

.n_p > .data .judul {
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 17px;
  transition: 200ms ease-in-out;
}

.n_p:hover > .data .judul {
  color: var(--light);
  text-decoration: underline;
}

.n_p > .data .summary {
  color: rgb(91, 100, 112);
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

.description_episode_inner > * {
  width: 45%;
  color: white;
  font-family: "Inter", sans-serif;
}

.description_episode_inner > .description_inner > span {
  display: block;
  margin-bottom: 20px;
}

.description_episode_inner > .description_inner > span.realease {
  font-weight: 600;
}

.description_episode_inner > .description_inner > .summary > span {
  display: block;
  margin-bottom: 15px;
}
.description_episode_inner > .description_inner > .summary > span.isi {
  text-align: justify;
}
.description_episode_inner > .description_inner > .presenter_producer > span {
  display: block;
}

.description_episode_inner > .episode_inner * {
  font-family: "Inter", sans-serif;
}

.description_episode_inner > .episode_inner > .info {
  font-size: 20px;
  display: block;
  font-weight: 600;
  margin-bottom: 20px;
}

.description_episode_inner > .episode_inner > .episodes {
  min-height: 300px;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.episode_item {
  color: white;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  display: flex;
  text-decoration: none;
  font-size: 18px;
  column-gap: 10px;
  box-shadow: 0 1px 0 0 #46575e, 0 1.8px 0 0 rgb(0 0 0);
}
.episode_item > .data > * {
  display: block;
  margin-bottom: 15px;
  transition: 200ms ease-in-out;
}
.episode_item > .data > *.author {
  font-size: 14px;
  color: rgb(91, 100, 112);
}

.episode_item:hover > .data > *.judul {
  color: var(--light);
  text-decoration: underline;
}
.episode_item:hover > *.nomor {
  color: var(--light);
}

.recommend_section {
  padding: 10px 0 0 0;
  margin: 0 0 20px 0;
  box-shadow: 0 -1px 0 0 #46575e, 0 -1.8px 0 0 rgba(0, 0, 0, 1);
}

.info-section > * {
  width: fit-content;
  color: white !important;
  text-decoration: none;
  transition: 150ms ease-in-out;
}

.info-section > .judul-section {
  font-family: "Poppins Bold", sans-serif;
  letter-spacing: -1px;
  font-size: 30px;
}

.recommend-container {
  display: flex;
  position: relative;
  padding: 0;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 40px;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

.recommend-container > .recommend-link {
  text-decoration: none;
  position: inherit;
}

.recommend-container > .recommend-link > .recommend-item > .cover > img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.recommend-container > .recommend-link > .recommend-item > .data > * {
  font-family: "Roboto Medium", sans-serif;
  display: block;
  width: 200px;
  overflow: hidden;
  color: white;
  transition: 150ms ease-in-out;
}

.recommend-container > .recommend-link > .recommend-item > .data > .judul {
  font-size: 20px;
  line-height: 21px;
  font-weight: 500;
  margin: 5px 0 10px 0;
}

.recommend-container > .recommend-link > .recommend-item > .data > .summ {
  margin-top: -5px;
  font-size: 12px;
  height: 36px;
  color: #adadad;
  font-weight: 500;
}

.recommend-container > .recommend-link > .recommend-item > .cover > .episodes {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin: 5px 0;
  height: fit-content;
  color: white;
}

.recommend-container
  > .recommend-link
  > .recommend-item
  > .cover
  > .episodes
  > * {
  display: block;
  font-family: "Inter", sans-serif;
}

.recommend-container
  > .recommend-link
  > .recommend-item
  > .cover
  > .episodes
  > *:last-of-type {
  margin: -1px 0 0 4px;
}

.recommend-container > .recommend-link > .recommend-item > .cover {
  background-color: var(--normal);
  width: 200px;
  height: 220px;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recommend-container
  > .recommend-link
  > .recommend-item
  > .cover
  > .episodes
  .icon-episode {
  height: 20px;
  width: 20px;
}

.recommend_section a:hover .judul {
  color: var(--light) !important;
  text-shadow: 0 0 2px #000000;
}

.recommend-link > .recommend-item > .thumbnail-cover > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  background-color: #1b1b1b50;
  margin-left: 0;
  border: none;
  opacity: 0;
  border-radius: 5px;
  transition: 150ms ease-in-out;
}

.recommend-link > .recommend-item > .thumbnail-cover > button {
  margin-top: -4px;
}

a:hover > .recommend-item > .thumbnail-cover > button {
  opacity: 1;
}

.thumbnail-cover > button > i {
  /* color: transparent; */
  color: white;
  text-align: center;
  font-size: 2em;
  transition: 150ms ease-in-out;
}

.btn_switch_desc {
  background-color: var(--light);
  width: 98%;
  padding: 2px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

.btn_switch_desc > button {
  width: 50%;
  font-family: "Roboto Medium", sans-serif;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  padding: 10px 0;
  background-color: transparent;
  color: var(--black);
  transition: 200ms ease-in-out;
}

.btn_switch_desc > button.active {
  background-color: var(--black);
  color: white;
}

/* res */
section.audio-player > div:not(.background) {
  width: 70%;
}
/* end style description section */
/* media layouts */
@media only screen and (max-width: 1200px) {
  section.audio-player > div:not(.background) {
    width: 85%;
  }
  .description_section > .description_container {
    width: 85%;
  }

  .recommend-container {
    width: 85%;
  }

  .recommend-container > .recommend-link > .recommend-item > .cover > img {
    width: 180px;
    height: 180px;
  }

  .recommend-container > .recommend-link > .recommend-item > .cover {
    width: fit-content;
    height: fit-content;
  }

  .recommend-container > .recommend-link > .recommend-item > .data > * {
    width: 180px;
  }

  .recommend-container > .recommend-link > .recommend-item > .data > .judul {
    font-size: 16px;
  }
  .recommend-container > .recommend-link > .recommend-item > .data > .summ {
    font-size: 9px;
  }

  .recommend-container
    > .recommend-link
    > .recommend-item
    > .cover
    > .episodes {
    font-size: 14px;
  }

  .recommend-container
    > .recommend-link
    > .recommend-item
    > .cover
    > .episodes
    .icon-episode {
    height: 16px;
    width: 16px;
  }

  .recommend-container
    > .recommend-link
    > .recommend-item
    > .cover
    > .episodes
    > span:last-of-type {
    margin-top: 0;
  }

  .recommend-link > .recommend-item > .thumbnail-cover > button {
    width: 180px;
    height: 180px;
  }
}
@media only screen and (max-width: 360px) {
  section.audio-player > div:not(.background) {
    width: 100%;
  }
  .info-section {
    width: 99%;
  }
  .audio-player {
    padding: 20px 0 0 0;
    height: 28em;
  }

  .judul-rule {
    margin: 10px auto;
  }

  .detail-item * {
    text-align: center;
  }

  .detail-item > div {
    margin-left: 0 !important;
  }

  .canva-player {
    margin-top: 35px !important;
    width: 98% !important;
  }

  .audio-player .background {
    height: 80%;
  }
  .description_section {
    padding: 10px 0 0 0;
  }
  .description_section > .description_container {
    width: 99%;
  }

  .description_episode_inner > .description_inner {
    width: 99%;
    margin: 0 auto;
  }
  .description_episode_inner > .episode_inner {
    width: 95%;
    margin: 0 auto;
  }

  .recommend-container {
    width: 99%;
  }

  .audio-player {
    margin-top: 60px;
  }

  .audio-controller > div.center {
    justify-content: space-evenly !important;
  }

  .previous_next_container {
    flex-direction: column;
  }

  .previous_next_container > a {
    width: fit-content;
  }
  .hero-space {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .recommend-container > .recommend-link > .recommend-item > .cover > img {
    width: 150px;
    height: 150px;
  }

  .recommend-container > .recommend-link > .recommend-item > .cover {
    width: fit-content;
    height: fit-content;
  }

  .recommend-container > .recommend-link > .recommend-item > .data > * {
    width: 150px;
  }

  .recommend-container > .recommend-link > .recommend-item > .data > .judul {
    font-size: 16px;
  }
  .recommend-container > .recommend-link > .recommend-item > .data > .summ {
    font-size: 9px;
  }

  .recommend-container
    > .recommend-link
    > .recommend-item
    > .cover
    > .episodes {
    font-size: 14px;
  }

  .recommend-container
    > .recommend-link
    > .recommend-item
    > .cover
    > .episodes
    .icon-episode {
    height: 16px;
    width: 16px;
  }

  .recommend-container
    > .recommend-link
    > .recommend-item
    > .cover
    > .episodes
    > span:last-of-type {
    margin-top: 0;
  }

  .recommend-link > .recommend-item > .thumbnail-cover > button {
    width: 150px;
    height: 150px;
  }
}
