/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: var(--black);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end css reset */

html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  box-sizing: border-box;
  background-color: var(--black);
}

section {
  width: 100%;
}

section.headline {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.8), 0 1.8px 0 0 #333f44;
  font-family: "Inter", sans-serif;
  padding-top: 10px;
  position: relative;
  display: flex;
  justify-content: center;
}
section.headline > .headline-background {
  width: 100%;
  position: relative;
}

section.headline > .headline-background > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 80% 70%;
}

section.headline > .headline-background::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(27, 27, 27, 0.55);
  background-image: linear-gradient(rgba(27, 27, 27, 0.2), rgba(0, 0, 0, 0.9));
  overflow: hidden;
  top: 0;
  left: 0;
}

section.headline > .headline-data {
  position: absolute;
  top: 0;
  width: 100%;
}

section.headline > .headline-data > .info-section {
  margin-top: 50px;
  margin-bottom: 5px;
}

.info-section > .judul-section {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Poppins Regular", sans-serif;
}
.info-section > .judul-section > .available {
  font: inherit;
  font-size: 18px;
  font-weight: 100;
}

.info-section > .grid-option-container {
  background-color: white;
  border-radius: 2px;
}

.info-section > .grid-option-container > button {
  margin: 0;
  margin-left: -2.5px;
  padding: 3px 5.5px;
  border: 0 solid transparent;
  border-radius: 2px;
  transition: color 300ms ease-in-out;
  background-color: white;
}

.info-section > .grid-option-container > button.active {
  background-color: var(--light);
}
.info-section > .grid-option-container > button:nth-of-type(3) {
  padding: 3px;
}

.info-section > .grid-option-container > button.hover {
  background-color: var(--light);
}

.info-section > .grid-option-container > button:active {
  background-color: var(--normal);
}

.headline-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  color: white;
  margin-top: 50px;
}

.headline-container > .headline-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
.headline-container > .headline-text > .judul {
  font-family: "Roboto Medium", sans-serif;
  font-size: 25px;
  margin-bottom: 10px;
}

.headline-container > .headline-text > .summ {
  color: #adadad;
  text-align: justify;
  line-height: 150%;
}

.headline-container > .headline-cover {
  width: 30%;
  display: flex;
  flex-direction: row-reverse;
}

.headline-container > .headline-cover > img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

section.episodes-section {
  margin: 20px 0;
}
section.episodes-section > * {
  width: 70%;
  margin: 0 auto;
}
.episodes-container > *,
.episodes-container > * > *,
.episodes-container > * > * > * {
  transition: all 400ms ease-in-out;
}

.episodes-container > * > * > * {
  transition: all 100ms ease-in-out;
}

/* custom episode grid list */
.grid-list > .episode-item {
  text-decoration: none;
  display: flex;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.8), 0 2px 0 0 #333f44;
  padding-bottom: 5px;
  margin-bottom: 15px;
  column-gap: 10px;
}

.grid-list > .episode-item > .cover {
  position: relative;
  width: fit-content;
  margin-right: 20px;
  overflow: hidden;
  width: 180px;
  height: 180px;
  border-radius: 4px;
}

.grid-list > .episode-item > .gel {
  position: absolute;
  width: 180px;
  height: 180px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 0.25) 50%,
    rgba(0, 0, 0, 0.5) 75%,
    rgba(0, 0, 0, 0.75) 100%
  );
  border-radius: 4px;
  transition: all 350ms ease-in-out;
}

.grid-list > .episode-item > .cover > img {
  width: 180px;
  height: 180px;
  border-radius: 4px;
  transition: all 350ms ease-in-out;
}
.grid-list > .episode-item > .data {
  color: white;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  max-width: 70%;
}
.grid-list > .episode-item > .data > * {
  max-width: 70%;
}
.grid-list > .episode-item > .data > .summ {
  max-width: 50%;
  text-align: justify;
}
.grid-list > .episode-item > .data > .judul {
  font-family: "Roboto Medium", sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  margin-bottom: 8px;
  transition: all 350ms ease-in-out;
}
.grid-list > .episode-item > .data > .summ {
  font-size: 12px;
  color: #adadad;
  margin-bottom: 4px;
  max-height: 55px;
  line-height: 150%;
  overflow: hidden;
}
.grid-list > .episode-item > .data > .duration-release {
  font-size: 13px;
  color: #adadad;
  margin-top: 5px;
}
/* hover */
.grid-list > .episode-item:hover > .gel {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.25) 25%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.25) 75%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.grid-list > .episode-item:hover > .cover > img {
  transform: scale(1.05);
}

.grid-list > .episode-item:hover > .data > .judul {
  color: var(--light);
  text-decoration: underline;
}
/* end custom episode grid list */

/* custom episode grid 3 coloumns */
.grid-3 {
  display: flex;
  justify-content: space-between;
  row-gap: 20px;
  flex-shrink: 3;
  flex-flow: row wrap;
}
.grid-3 > .episode-item {
  text-decoration: none;
  width: 30%;
  position: relative;
}

.grid-3 > .episode-item > .cover {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.grid-3 > .episode-item > .cover > img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.grid-3 > .episode-item > .gel {
  position: absolute;
  width: 100%;
  height: 83.5%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 0.25) 50%,
    rgba(0, 0, 0, 0.5) 75%,
    rgba(0, 0, 0, 0.75) 100%
  );
  border-radius: 4px;
  transition: all 350ms ease-in-out, height 150ms ease-in-out;
  top: 0;
}

.grid-3 > .episode-item > .data {
  color: white;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 100%;
}
.grid-3 > .episode-item > .data > .judul {
  font-family: "Roboto Medium", sans-serif;
  font-size: 22px;
  letter-spacing: 0;
  margin-bottom: 8px;
}
.grid-3 > .episode-item > .data > .summ {
  font-size: 16px;
  color: #adadad;
  margin-bottom: 4px;
}
/* hover */
.grid-3 > .episode-item:hover > .gel {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.25) 25%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.25) 75%,
    rgba(0, 0, 0, 0.5) 100%
  );
  height: 84.3%;
  transition: all 350ms ease-in-out, height 50ms ease-in-out;
}

.grid-3 > .episode-item:hover > .cover > img {
  transform: scale(1.05);
}

.grid-3 > .episode-item:hover > .data > .judul {
  color: var(--light);
  text-decoration: underline;
}
/* end custom episode grid 3 columns */

.pagination {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.pagination * {
  background-color: transparent;
  color: white;
}
.pagination div {
  margin: 0 10px;
}

.pagination div button {
  box-shadow: 0 0 1px 0.5px white, 0 0 3px 1px #333f44;
}

.pagination button {
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 0 10px;
  border: none;
  border-radius: 4px;
  transition: all 300ms ease-in-out;
}

.pagination button:hover {
  background-color: var(--light);
  color: var(--black);
  box-shadow: 0 0 1px 0.5px black, 0 0 3px 1px #333f44;
  font-weight: 600;
}

.pagination button:hover svg * {
  fill: var(--black);
}

.pagination button svg {
  display: block;
  margin: 0 auto;
}

section.episodes-section > *.episodes-container {
  margin-bottom: 30px;
}

/* media query */

@media only screen and (max-width: 1200px) {
  .headline-container {
    width: 85%;
  }
  section.episodes-section > * {
    width: 85%;
  }

  .grid-3 > .episode-item > .gel {
    height: 79.5%;
  }

  .grid-3 > .episode-item:hover > .gel {
    height: 80.3%;
  }
}

@media only screen and (max-width: 360px) {
  .headline-container {
    width: 100%;
    flex-direction: column;
    margin: 20px auto 0 auto;
    justify-content: center;
    align-items: center;
  }
  .headline-container > .headline-text > .judul {
    text-align: center;
    font-size: 18px;
  }
  .headline-container > .headline-text > .summ {
    font-size: 14px;
  }

  .headline-container > .headline-cover {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
  }
  .headline-container > .headline-cover > img {
    width: 150px;
    height: 150px;
  }

  .headline-container > div {
    width: fit-content;
  }

  .headline-container > .headline-text {
    order: 1;
    width: 98%;
  }
  section.episodes-section > * {
    width: 100%;
  }
  section.headline > .headline-data > div.info-section {
    width: 100%;
    margin-top: 35px;
    margin-left: 0;
  }

  section.headline > .headline-data > div.info-section > .judul-section {
    font-size: 20px;
  }

  .grid-list > .episode-item > .cover {
    width: 140px;
    height: 140px;
  }

  .grid-list > .episode-item > .gel {
    width: 140px;
    height: 140px;
  }

  .grid-list > .episode-item > .cover > img {
    width: 140px;
    height: 140px;
  }

  .grid-list > .episode-item > .data {
    width: 50%;
  }

  .grid-list > .episode-item > .data > .judul {
    font-size: 16px;
    margin-bottom: 5px;
    max-width: 100% !important;
  }
  .grid-list > .episode-item > .data > .summ {
    font-size: 11px;
    color: #adadad;
    margin-bottom: 4px;
    max-width: 100% !important;
  }
  .grid-list > .episode-item > .data > .duration-release {
    font-size: 11px;
    max-width: 100% !important;
  }

  .pagination {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .pagination div {
    margin: 0 8px;
  }

  .pagination button {
    margin: 0 2px;
  }
}
