body {
  background-color: var(--black);
}

.info-section > .judul-section {
  font-size: 26px;
}

.info-section > * {
  width: fit-content;
  color: white !important;
  text-decoration: none;
  transition: 150ms ease-in-out;
}

.info-section > .judul-section {
  font-family: "Poppins Bold", sans-serif;
  letter-spacing: -1px;
  font-size: 28px;
}

.program-section {
  width: 100%;
  margin: 20px 0;
}

.program-section > .program-container {
  display: flex;
  position: relative;
  padding: 0;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 40px;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

.program-section > .program-container > .program-link {
  text-decoration: none;
  position: inherit;
}

.program-section
  > .program-container
  > .program-link
  > .program-item
  > .cover
  > img {
  width: 240px;
  height: 240px;
  border-radius: 5px;
}

.program-section
  > .program-container
  > .program-link
  > .program-item
  > .data
  > * {
  font-family: "Roboto Medium", sans-serif;
  display: block;
  width: 240px;
  overflow: hidden;
  color: white;
  transition: 150ms ease-in-out;
}

.program-section
  > .program-container
  > .program-link
  > .program-item
  > .data
  > .judul {
  font-size: 20px;
  line-height: 21px;
  font-weight: 500;
  margin: 5px 0 10px 0;
}

.program-section
  > .program-container
  > .program-link
  > .program-item
  > .data
  > .summ {
  margin-top: -5px;
  font-size: 12px;
  height: 36px;
  color: #adadad;
  font-weight: 500;
}

.program-section
  > .program-container
  > .program-link
  > .program-item
  > .cover
  > .episodes {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin: 5px 0;
  height: fit-content;
  color: white;
}

.program-section
  > .program-container
  > .program-link
  > .program-item
  > .cover
  > .episodes
  > * {
  display: block;
}

.program-section
  > .program-container
  > .program-link
  > .program-item
  > .cover
  > .episodes
  > *:last-of-type {
  margin: -1px 0 0 4px;
}

.program-section
  > .program-container
  > .program-link
  > .program-item
  > .cover
  > * {
  display: block;
}

.program-section > .program-container > .program-link > .program-item > .cover {
  background-color: var(--normal);
  width: 240px;
  height: 260px;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.program-section
  > .program-container
  > .program-link
  > .program-item
  > .cover
  > .episodes
  .icon-episode {
  height: 20px;
  width: 20px;
}

.program-section a:hover .judul {
  color: var(--light) !important;
  text-shadow: 0 0 2px #000000;
}

.program-link > .program-item > .thumbnail-cover > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  position: absolute;
  top: 0;
  background-color: #1b1b1b50;
  margin-left: 0;
  border: none;
  opacity: 0;
  border-radius: 5px;
  transition: 150ms ease-in-out;
}

.thumbnail-cover > button > i {
  /* color: transparent; */
  color: white;
  text-align: center;
  font-size: 2em;
  transition: 150ms ease-in-out;
}

.program-link > .program-item > .thumbnail-cover > button {
  margin-top: -7px;
}

a:hover > .program-item > .thumbnail-cover > button {
  opacity: 1;
}

/* Media Query */
@media only screen and (max-width: 1200px) {
  .program-section > .program-container {
    width: 85%;
  }
  .program-section
    > .program-container
    > .program-link
    > .program-item
    > .cover
    > img {
    width: 180px;
    height: 180px;
  }

  .program-section
    > .program-container
    > .program-link
    > .program-item
    > .cover {
    width: fit-content;
    height: fit-content;
  }

  .program-section
    > .program-container
    > .program-link
    > .program-item
    > .data
    > * {
    width: 180px;
  }

  .program-section
    > .program-container
    > .program-link
    > .program-item
    > .data
    > .judul {
    font-size: 16px;
  }
  .program-section
    > .program-container
    > .program-link
    > .program-item
    > .data
    > .summ {
    font-size: 9px;
  }

  .program-section
    > .program-container
    > .program-link
    > .program-item
    > .cover
    > .episodes {
    font-size: 14px;
  }

  .program-section
    > .program-container
    > .program-link
    > .program-item
    > .cover
    > .episodes
    .icon-episode {
    height: 16px;
    width: 16px;
  }

  .program-section
    > .program-container
    > .program-link
    > .program-item
    > .cover
    > .episodes
    > span:last-of-type {
    margin-top: 0;
  }

  .program-link > .program-item > .thumbnail-cover > button {
    width: 180px;
    height: 180px;
  }
  .program-link > .program-item > .thumbnail-cover > button {
    margin-top: -3px;
  }
  .program-section > .program-container {
    row-gap: 25px;
  }
}

@media only screen and (max-width: 360px) {
  .program-section > .program-container {
    width: 99%;
  }

  .program-section
    > .program-container
    > .program-link
    > .program-item
    > .cover
    > img {
    width: 150px;
    height: 150px;
  }

  .program-section
    > .program-container
    > .program-link
    > .program-item
    > .cover {
    width: fit-content;
    height: fit-content;
  }

  .program-section
    > .program-container
    > .program-link
    > .program-item
    > .data
    > * {
    width: 150px;
  }

  .program-section
    > .program-container
    > .program-link
    > .program-item
    > .data
    > .judul {
    font-size: 16px;
  }

  .program-section
    > .program-container
    > .program-link
    > .program-item
    > .data
    > .summ {
    font-size: 9px;
  }

  .program-section
    > .program-container
    > .program-link
    > .program-item
    > .cover
    > .episodes {
    font-size: 14px;
  }

  .program-section
    > .program-container
    > .program-link
    > .program-item
    > .cover
    > .episodes
    .icon-episode {
    height: 16px;
    width: 16px;
  }

  .program-section
    > .program-container
    > .program-link
    > .program-item
    > .cover
    > .episodes
    > span:last-of-type {
    margin-top: 0;
  }

  .program-link > .program-item > .thumbnail-cover > button {
    width: 150px;
    height: 150px;
  }

  .cover-link > .cover-item > .thumbnail-cover > button {
    margin-top: 0;
  }

  .program-link > .program-item > .thumbnail-cover > button {
    margin-top: -3px;
  }
  .program-section > .program-container {
    row-gap: 25px;
  }
}
