/* style headline */
body {
    overflow-x: hidden;
}

/* declaration animation */
@keyframes showCaseSlideLeft {
    0% {
        margin-left: -100%;
        display: none;
    }
    100% {
        margin-left: 0;
        display: block;
    }
}
/* end declaration animation */
html {
    font-size: 16px;
}
.headline-slider {
    width: 100%;
    margin: 1em auto 1.5em auto;
    overflow: hidden;
}

.headline-slider-indicators {
    width: 100%;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -40px;
}
.headline-slider-indicators > button {
    background-color: #aaaaaa;
    border: none;
    margin: 0 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
}

.headline-slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.headline-slider-indicators > button.active {
    background-color: white !important;
}

.headline-slider-inner {
    width: 315%;
    padding: 0 15%;
    justify-content: center;
    align-items: center;
    transform: translateX(-22.78%);
    z-index: 0;
    transition: transform 300ms ease-in-out 0ms;
}

.headline-slider-inner > .headline-slider-item {
    width: 100%;
    display: flex;
    justify-content: center;
    height:30em;
    margin-right: 20px;
    /* overflow: hidden; */
}
.headline-slider-inner > .headline-slider-item:last-child {
    margin: 0;
}

.headline-slider-container>.btn-gel {
    position: absolute;
    width: 100%;
    margin-top: -30em;
}

.headline-slider-container>.btn-gel > .gel {
    position: absolute;
    border: none;
    width: 14%;
    height: 30em;
}

.headline-slider-container>.btn-gel > .gel > i {
    color: white;
    font-size: 5em;
    font-weight: 600;
    transition: all 250ms ease-in-out;
}
.headline-slider-container>.btn-gel > .gel:hover > i {
    color: var(--normal);
}

.tumbnail-img {
    top: 0;
    height: 40em;
    background-color: #1b1b1b30;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: visible;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

/* button play */

.tumbnail-img > a{
    text-decoration: none;
}
.tumbnail-img > a > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    transition: 150ms ease-in-out;
}
.headline-slider-item.active button {
    opacity: 1 !important;
}
.headline-slider-item button {
    opacity: 0 !important;
}

.tumbnail-img >a> button > i {
    /* color: transparent; */
    color: white;
    text-align: center;
    font-size: 4em;
    transition: 150ms ease-in-out;
}

.tumbnail-img >a> button > i:hover {
    color: var(--normal);
}

/* end button play */
.headline-slider-container>.btn-gel > .gel-left {
    left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: linear-gradient(
        270deg,
        rgba(26, 26, 27, 0.4) 0%,
        rgba(26, 26, 27, 0.55) 25%,
        rgba(26, 26, 27, 0.7) 50%,
        rgba(26, 26, 27, 0.9) 75%,
        rgba(26, 26, 27, 1) 100%
    );
}
.headline-slider-container>.btn-gel > .gel-right {
    right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    background: linear-gradient(
        90deg,
        rgba(26, 26, 27, 0.4) 0%,
        rgba(26, 26, 27, 0.54) 25%,
        rgba(26, 26, 27, 0.7) 50%,
        rgba(26, 26, 27, 0.9) 75%,
        rgba(26, 26, 27, 1) 100%
    );
}

/* .headline-slider-item.active {
    animation: showCaseSlideLeft 200ms ease-in-out forwards;
} */

.headline-slider-item > .headline-slider-data {
    width: 100%;
    height: 30em;
}
.headline-slider-item > .headline-slider-data > a {
    width: 100%;
}

.headline-slider-item > .headline-slider-data > a > img {
    width: 100%;
    height: 30em;
    border-radius: 4px;
}
/* end style headline */

/* style live section */

.live-section{
    width: 100%;
    margin-bottom: 3em;
}

.info-section > *{
    color: white !important;
    text-decoration: none;
    transition: 150ms ease-in-out;
}

.info-section > a:hover{
    color: var(--normal) !important;
    text-decoration: underline;
}

.live-section > .live-container{
    width: inherit;
    overflow: hidden;
}

.live-section > .live-container > .live-container-inner{
    width: inherit;
    display: flex;  
    padding: 0 14%;
    box-sizing:content-box;
    transition: transform 200ms ease-in-out;
    
    /* transform: translateX(-9%); */
}

.live-section > .live-container > .live-container-inner > .live-item{
    margin-left: 30px;
}

.live-section > .live-container > .live-container-inner > .live-item:last-of-type{
    margin: 0 0 0 30px;
}

.live-section > .live-container > .live-container-inner > .live-item > a{
    text-decoration: none;
}

.live-section > .live-container > .live-container-inner > .live-item>a>.data-item{    
    margin-top: 10px;
}
.live-section > .live-container > .live-container-inner > .live-item>a>.data-item> *{
    display: block;
    text-align: center;
    font-weight: 600;
    transition: 150ms ease-in-out;
}
.live-section > .live-container > .live-container-inner > .live-item>a>.data-item> *.judul-live{
    color:white;
    font-size: 1em;
}
.live-section > .live-container > .live-container-inner > .live-item>a>.data-item> *.author-live{
    color: #444444;
    margin-top:-2px;
    font-size: .9em;
}



.live-section > .live-container > .live-container-inner > .live-item>a>.cover-item>.duration-ui{
    padding: 5px;
    box-sizing: border-box;
    background-color: #CBCBCB;
    border-radius: 50%;
    
}
.live-section > .live-container > .live-container-inner > .live-item:nth-child(1)>a>.cover-item>.duration-ui{
    background: conic-gradient(var(--normal)0deg,var(--normal)360deg);
}

.live-section > .live-container > .live-container-inner > .live-item{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    position: relative;
}


.live-section > .live-container > .live-container-inner > .live-item > .live-ic{
    color: white;
    font-size: 14px;
    font-weight: 600;
    background: black;
    position: absolute;
    padding: 0 5px;
    display: block;
    margin-bottom: 48px;
    border-radius:5px;
    opacity:0;
}


.live-section > .live-container > .live-container-inner > .live-item.live-current > .live-ic{
    opacity:1;
}

.live-section > .live-container > .live-container-inner > .live-item>a:hover>.data-item >.judul-live{
    color: var(--normal);
    text-decoration: underline;
}


/* button play */

.thumbnail-cover > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    background-color: #1b1b1b50;
    margin-left: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 50%;
    opacity: 0;
    transition: 150ms ease-in-out;
}

.live-section > .live-container > .live-container-inner > .live-item>a:hover>.cover-item > .thumbnail-cover > button{
    opacity: 1;
}


.thumbnail-cover > button > i {
    /* color: transparent; */
    color: white;
    text-align: center;
    font-size: 2em;
    transition: 150ms ease-in-out;
}
/* end button play */



/* style gel */
.live-section>.btn-gel {
    position: absolute;
    width: 100%;
}

.live-section>.btn-gel > .gel {
    position: absolute;
    border: none;
    width: 14%;
    box-sizing: border-box;
}

.live-section>.btn-gel > .gel > i {
    color: white;
    font-size: 5em;
    font-weight: 600;
    transition: all 250ms ease-in-out;
}
.live-section>.btn-gel > .gel:hover > i {
    color: var(--normal);
}

.live-section>.btn-gel > .gel-left {
    left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: linear-gradient(
            270deg,
            rgba(26, 26, 27, 0.4) 0%,
        rgba(26, 26, 27, 0.55) 25%,
        rgba(26, 26, 27, 0.7) 50%,
        rgba(26, 26, 27, 0.9) 75%,
        rgba(26, 26, 27, 1) 100%
    );
}
.live-section>.btn-gel > .gel-right {
    right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    background: linear-gradient(
        90deg,
        rgba(26, 26, 27, 0.4) 0%,
        rgba(26, 26, 27, 0.54) 25%,
        rgba(26, 26, 27, 0.7) 50%,
        rgba(26, 26, 27, 0.9) 75%,
        rgba(26, 26, 27, 1) 100%
    );    
}
/* end style gel */
/* end style live section */

/* style cover section */
.cover-section{
    width:100%;
    margin-bottom:3em;
}

.cover-section > .cover-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 71%;
    margin: 0 auto;
}

.cover-section > .cover-container > .cover-item{
    margin-bottom: 15px;
}

.cover-section > .cover-container > .cover-item > .cover > img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.cover-section > .cover-container > .cover-item > .data > * {
    display: block;
    width: 250px;
    overflow: hidden;
    color:white;
}

.cover-section > .cover-container > .cover-item > .data > .judul{
    font-size: 23px;
    line-height: 21px;
    font-weight: 600;
    margin: 5px 0 10px 0;
}

.cover-section > .cover-container > .cover-item > .data > .summ {
    font-size: 15px;
    color: #3a3a3a;
    font-weight: 500;
}
/* end style cover section */