/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: var(--black);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end css reset */

html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  box-sizing: border-box;
  background-color: var(--black);
}

section {
  width: 100%;
}

section.headline {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.8), 0 1.8px 0 0 #333f44;
  font-family: "Inter", sans-serif;
  padding-top: 10px;
  position: relative;
}
section.headline > .headline-background {
  width: 100%;
  position: relative;
}

section.headline > .headline-background > img {
  object-fit: cover;
  width: 100%;
  height: 22em;
  object-position: 80% 70%;
}

section.headline > .headline-background::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(27, 27, 27, 0.55);
  background-image: linear-gradient(rgba(27, 27, 27, 0.2), rgba(0, 0, 0, 0.9));
  overflow: hidden;
  top: 0;
  left: 0;
}

section.headline > .headline-data {
  position: absolute;
  top: 0;
}

section.headline > .headline-data > .info-section {
  margin-top: 50px;
  margin-bottom: 5px;
}

.info-section > .judul-section {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Poppins Regular", sans-serif;
}
.info-section > .judul-section > .available {
  font: inherit;
  font-size: 20px;
  font-weight: 100;
}
.info-section > .grid-option-container > button {
  margin: 0;
  margin-left: -2.5px;
  padding: 3px 5.5px;
  border: 0 solid transparent;
  border-radius: 2px;
  transition: color 300ms ease-in-out;
}

.info-section > .grid-option-container > button.active {
  background-color: var(--light);
}
.info-section > .grid-option-container > button:nth-of-type(3) {
  padding: 3px;
}

.info-section > .grid-option-container > button.hover {
  background-color: var(--light);
}

.info-section > .grid-option-container > button:active {
  background-color: var(--normal);
}

.headline-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  color: white;
  margin-top: 50px;
}

.headline-container > .headline-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
.headline-container > .headline-text > .judul {
  font-size: 25px;
  margin-bottom: 10px;
}

.headline-container > .headline-text > .summ {
  color: #adadad;
  text-align: justify;
}

.headline-container > .headline-cover {
  width: 30%;
  display: flex;
  flex-direction: row-reverse;
}

.headline-container > .headline-cover > img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

section.episodes-section {
  margin: 20px 0;
}
section.episodes-section > * {
  width: 70%;
  margin: 0 auto;
}

.episodes-container > *,
.episodes-container > * > *,
.episodes-container > * > * > * {
  transition: all 400ms ease-in-out;
}

.episodes-container > * > * > * {
  transition: all 100ms ease-in-out;
}

/* custom episode grid list */
.grid-list > .episode-item {
  text-decoration: none;
  display: flex;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.8), 0 2px 0 0 #333f44;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.grid-list > .episode-item > .cover {
  width: fit-content;
  margin-right: 20px;
}
.grid-list > .episode-item > .cover > img {
  width: 180px;
  height: 180px;
  border-radius: 4px;
}
.grid-list > .episode-item > .data {
  color: white;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.grid-list > .episode-item > .data > .judul {
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
.grid-list > .episode-item > .data > .summ {
  font-size: 12px;
  color: #adadad;
  margin-bottom: 4px;
}
.grid-list > .episode-item > .data > .duration-release {
  font-size: 13px;
  color: #adadad;
}
/* end custom episode grid list */

/* custom episode grid 3 coloumns */
.grid-3 {
  display: flex;
  justify-content: space-between;
  row-gap: 20px;
  flex-shrink: 3;
  flex-flow: row wrap;
}
.grid-3 > .episode-item {
  text-decoration: none;
  width: 30%;
}

.grid-3 > .episode-item > .cover {
  width: 100%;
}

.grid-3 > .episode-item > .cover > img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.grid-3 > .episode-item > .data {
  color: white;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 100%;
}
.grid-3 > .episode-item > .data > .judul {
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
.grid-3 > .episode-item > .data > .summ {
  font-size: 16px;
  color: #adadad;
  margin-bottom: 4px;
}
/* end custom episode grid 3 columns */
/* custom episode grid 4 coloumns */
.grid-4 {
  display: flex;
  justify-content: space-between;
  row-gap: 20px;
  flex-shrink: 4;
  flex-flow: row wrap;
}
.grid-4 > .episode-item {
  text-decoration: none;
  width: 23%;
}

.grid-4 > .episode-item > .cover {
  width: 100%;
}

.grid-4 > .episode-item > .cover > img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.grid-4 > .episode-item > .data {
  color: white;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 100%;
}
.grid-4 > .episode-item > .data > .judul {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
.grid-4 > .episode-item > .data > .summ {
  font-size: 14px;
  color: #adadad;
  margin-bottom: 4px;
}
/* end custom episode grid 4 columns */

.pagination {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.pagination * {
  background-color: transparent;
  color: white;
}

.pagination button {
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 0 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 1px 0.5px black, 0 0 3px 1px #333f44;
  transition: all 300ms ease-in-out;
}

.pagination button:hover {
  background-color: var(--light);
  color: var(--black);
  font-weight: 600;
  box-shadow: 0 0 1px 0.5px black, 0 0 3px 1px #333f44;
}

.pagination button:hover svg * {
  fill: var(--black);
}

.pagination button svg {
  display: block;
  margin: 0 auto;
}

section.episodes-section > *.episodes-container {
  margin-bottom: 15px;
}
