/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: var(--black);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end css reset */

section.headline {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.8), 0 1.8px 0 0 #333f44;
  font-family: "Inter", sans-serif;
  padding: 10px 0;
  position: relative;
  height: fit-content;
}
section.headline .info-section {
  margin: 50px auto 0 auto;
}

.info-section > .judul-section {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Poppins Regular", sans-serif;
}
.info-section > .judul-section > .available {
  font: inherit;
  font-size: 20px;
  font-weight: 100;
}

.info-section > .grid-option-container {
  background-color: white;
  border-radius: 2px;
}

.info-section > .grid-option-container > button {
  margin: 0;
  margin-left: -2.5px;
  padding: 3px 5.5px;
  border: 0 solid transparent;
  border-radius: 2px;
  transition: color 300ms ease-in-out;
  background-color: white;
}

.info-section > .grid-option-container > button.active {
  background-color: var(--light);
}
.info-section > .grid-option-container > button:nth-of-type(3) {
  padding: 3px;
}

.info-section > .grid-option-container > button.hover {
  background-color: var(--light);
}

.info-section > .grid-option-container > button:active {
  background-color: var(--normal);
}

section.categories-section {
  margin: 20px 0;
}
section.categories-section > * {
  width: 70%;
  margin: 0 auto;
}

section.categories-section > *.categories-container {
  margin: 0 auto 60px auto;
}

.categories-container {
  display: flex;
}

.categories-scroll {
  width: 25%;
  margin-right: 5%;
  height: 80vh;
  border-radius: 5px;
  position: sticky;
  top: 8%;
  overflow: hidden;
}

/* custom fakescroll */
.fakeScroll {
  overflow: visible !important;
}

.fakeScroll__wrap {
  overflow: hidden;
  height: 100%;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0 1px rgb(0, 0, 0, 1), 0 0 0 1.5px #333f44;
  background: var(--black);
  border-radius: 5px;
}

.fakeScroll__content {
  height: 100%;
  width: 100%;
  /* padding         : 0 32px 0 0; */
  /* right           : -18px; */
  position: relative;
  overflow: auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  scrollbar-width: none;
}

.fakeScroll__content::-webkit-scrollbar {
  display: none;
}

.fakeScroll__track {
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: default;
  right: -10px;
  width: 30px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgb(0, 0, 0, 1), 0 0 0 1.5px #333f44;
  padding: 5px 0;
}

.fakeScroll__bar {
  position: relative;
  background: rgba(255, 255, 255, 0.4);
  top: 0;
  z-index: 0;
  transition: background 0.1s;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  width: 25%;
  right: -22px;
  border-radius: 5px;
  padding: 5% 0;
  box-sizing: border-box;
}

.fakeScroll__bar:hover {
  background: rgba(255, 255, 255, 0.55);
}

.fakeScroll__bar.fakeScroll--grabbed {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  background: white;
}

body.fakeScroll--grabbed {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* end custom fakescroll */
.categories-item {
  font-family: "Roboto Medium", sans-serif;
  color: white;
  font-size: 21px;
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 25px 0 25px 10px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.8), 0 1.5px 0 0 #333f44;
  transition: all 150ms ease-in-out;
}

.categories-item:hover {
  color: var(--light);
  text-decoration: underline;
}

/* .categories-item.active {
  background-color: rgba(255, 255, 255, 0.4);
  color: var(--light);
} */

.categories-item.active {
  border-left: 1px solid var(--light);
  color: var(--light);
}
.episodes-container {
  width: 70%;
}
.episodes-container > *,
.episodes-container > * > *,
.episodes-container > * > * > * {
  transition: all 400ms ease-in-out;
}

.episodes-container > * > * > * {
  transition: all 100ms ease-in-out;
}
.episode-container > .episode-item:active,
.episode-container > .episode-item:visited,
.episode-container > .episode-item:focus {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.8), 0 2px 0 0 #333f44;
}

/* custom episode grid list */
.grid-list > .episode-item {
  text-decoration: none;
  display: flex;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.8), 0 2px 0 0 #333f44;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.grid-list > .episode-item > .cover {
  position: relative;
  width: fit-content;
  margin-right: 20px;
  overflow: hidden;
  width: 180px;
  height: 180px;
  border-radius: 4px;
}

.grid-list > .episode-item > .gel {
  position: absolute;
  width: 180px;
  height: 180px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 0.25) 50%,
    rgba(0, 0, 0, 0.5) 75%,
    rgba(0, 0, 0, 0.75) 100%
  );
  border-radius: 4px;
  transition: all 350ms ease-in-out;
}

.grid-list > .episode-item > .cover > img {
  width: 180px;
  height: 180px;
  border-radius: 4px;
  transition: all 350ms ease-in-out;
}
.grid-list > .episode-item > .data {
  color: white;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.grid-list > .episode-item > .data > .judul {
  font-family: "Roboto Medium", sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  margin-bottom: 8px;
  transition: all 350ms ease-in-out;
}
.grid-list > .episode-item > .data > .summ {
  font-size: 12px;
  color: #adadad;
  margin-bottom: 4px;
}
.grid-list > .episode-item > .data > .duration-release {
  font-size: 13px;
  color: #adadad;
}
/* hover */
.grid-list > .episode-item:hover > .gel {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.25) 25%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.25) 75%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.grid-list > .episode-item:hover > .cover > img {
  transform: scale(1.05);
}

.grid-list > .episode-item:hover > .data > .judul {
  color: var(--light);
  text-decoration: underline;
}
/* end custom episode grid list */

/* custom episode grid 3 coloumns */
.grid-3 {
  display: flex;
  justify-content: space-between;
  row-gap: 20px;
  flex-shrink: 3;
  flex-flow: row wrap;
}
.grid-3 > .episode-item {
  text-decoration: none;
  width: 30%;
  position: relative;
}

.grid-3 > .episode-item > .cover {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.grid-3 > .episode-item > .cover > img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.grid-3 > .episode-item > .gel {
  position: absolute;
  width: 100%;
  height: 78%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 0.25) 50%,
    rgba(0, 0, 0, 0.5) 75%,
    rgba(0, 0, 0, 0.75) 100%
  );
  border-radius: 4px;
  transition: all 350ms ease-in-out, height 150ms ease-in-out;
  top: 0;
}

.grid-3 > .episode-item > .data {
  color: white;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 100%;
}
.grid-3 > .episode-item > .data > .judul {
  font-family: "Roboto Medium", sans-serif;
  font-size: 22px;
  letter-spacing: 0;
  margin-bottom: 8px;
}
.grid-3 > .episode-item > .data > .summ {
  font-size: 16px;
  color: #adadad;
  margin-bottom: 4px;
}
/* hover */
.grid-3 > .episode-item:hover > .gel {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.25) 25%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.25) 75%,
    rgba(0, 0, 0, 0.5) 100%
  );
  height: 78.9%;
  transition: all 350ms ease-in-out, height 50ms ease-in-out;
}

.grid-3 > .episode-item:hover > .cover > img {
  transform: scale(1.05);
}

.grid-3 > .episode-item:hover > .data > .judul {
  color: var(--light);
  text-decoration: underline;
}
/* end custom episode grid 3 columns */

.episodes-container > .episode-item:last-of-type {
  margin-bottom: 0;
}

.pagination {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.pagination * {
  background-color: transparent;
  color: white;
}
.pagination div {
  margin: 0 10px;
}

.pagination div button {
  box-shadow: 0 0 1px 0.5px white, 0 0 3px 1px #333f44;
}

.pagination button {
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 0 10px;
  border: none;
  border-radius: 4px;
  transition: all 300ms ease-in-out;
}

.pagination button:hover {
  background-color: var(--light);
  color: var(--black);
  box-shadow: 0 0 1px 0.5px black, 0 0 3px 1px #333f44;
  font-weight: 600;
}

.pagination button:hover svg * {
  fill: var(--black);
}

.pagination button svg {
  display: block;
  margin: 0 auto;
}

section.categories-section > *.episodes-container {
  margin-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
  section.categories-section > * {
    width: 85%;
  }

  .grid-3 > .episode-item > .gel {
    height: 76.5%;
  }

  .grid-3 > .episode-item:hover > .gel {
    height: 77.7%;
  }

  .grid-3 > .episode-item > .data > .judul {
    font-size: 17px;
  }
  .grid-3 > .episode-item > .data > .summ {
    font-size: 11.5px;
  }
}

@media only screen and (max-width: 360px) {
  @keyframes translateX {
    0% {
      opacity: 0;
      transform: translateX(60px);
    }

    80% {
      transform: translateX(-2px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  @keyframes translateReverseX {
    0% {
      transform: translateX(0px);
    }

    80% {
      transform: translateX(-2px);
    }

    100% {
      transform: translateX(60px);
    }
  }

  section.categories-section > * {
    width: 100%;
  }
  .episodes-container {
    width: 100%;
  }
  div.info-section {
    width: 100%;
    margin-top: 35px;
    margin-left: 0;
  }

  div.info-section > .judul-section {
    font-size: 20px;
  }

  .grid-list > .episode-item > .cover {
    width: 140px;
    height: 140px;
  }

  .grid-list > .episode-item > .gel {
    width: 140px;
    height: 140px;
  }

  .grid-list > .episode-item > .cover > img {
    width: 140px;
    height: 140px;
  }

  .grid-list > .episode-item > .data {
    width: fit-content;
  }

  .grid-list > .episode-item > .data > .judul {
    font-size: 16px;
    margin-bottom: 5px;
    width: fit-content;
  }
  .grid-list > .episode-item > .data > .summ {
    font-size: 11px;
    color: #adadad;
    margin-bottom: 4px;
    width: 190px;
  }
  .grid-list > .episode-item > .data > .duration-release {
    font-size: 11px;
  }

  .pagination {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .pagination div {
    margin: 0 8px;
  }

  .pagination button {
    margin: 0 2px;
  }

  /* custom DD for categori option */
  .categories-option_DD > button {
    background-color: transparent;
    border: none;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 14px;
    padding: 5px 0;
    cursor: pointer;
  }

  .categories-option_DD > button:hover ~ .dropdown_menu > li {
    display: block;
  }

  .categories-item {
    font-size: 14px;
    padding: 15px 0 15px 10px;
    background-color: var(--black);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.8), 0 2px 0 0 #333f44,
      -1px 0 0 1px #333f44, -2px 0 0 1px rgba(0, 0, 0, 0.8);
    transition: all 200ms ease-in-out;
  }

  .dd-item:first-of-type > .categories-item {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.8), 0 2px 0 0 #333f44,
      -1px 0 0 1px #333f44, -2px 0 0 1px rgba(0, 0, 0, 0.8),
      0 -1px 0 0 rgba(0, 0, 0, 0.8), 0 -2px 0 0 #333f44;
    border-top-left-radius: 5px;
  }

  .dd-item:last-of-type > .categories-item {
    border-bottom-left-radius: 5px;
  }

  .dropdown_menu {
    width: 40%;
    position: absolute;
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 12px;
  }
  .dropdown_menu > li {
    margin-bottom: 2px;
    transition: opacity 200ms ease-in-out;
  }

  .dd-item.active > .categories-item {
    background-color: var(--light);
    color: black;
  }

  .spawn {
    animation: translateX 300ms ease-in-out forwards;
  }

  .not_spawn {
    animation-name: translateReverseX;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
  }
}
