@import url(sounds.fonts.css);

/* navbar style */
nav.navbar {
  border-bottom: 0.5px solid rgba(245, 245, 245, 0.185);
  width: 100%;
  top: 0;
  margin-top: -10px;
  z-index: 500;
  box-sizing: border-box;
}
nav::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  top: 0;
  left: 0;
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  opacity: 0;
  z-index: 500;
}

nav.scrolled::before {
  opacity: 1;
}

nav div {
  z-index: 1000;
  width: 70% !important;
  margin: 0 auto;
}

a.navbar-brand,
a.navbar-brand:hover,
a.navbar-brand:active,
a.navbar-brand:visited {
  cursor: pointer;
  font-family: "Poppins Bold", sans-serif;
  letter-spacing: -2.5px;
  font-size: 35px !important;
  font-weight: 700;
  color: var(--light);
  text-shadow: 0 0 2px #000000;
}

ul.menu {
  display: flex;
  height: 30px;
  position: relative;
}

ul.menu li {
  list-style: none;
  height: 30px;
}
ul.menu a.nav-link,
ul.menu a.nav-link:visited {
  padding: 0;
  width: fit-content;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 22px;
  font-family: "Roboto Medium", sans-serif;
  color: var(--no-active);
  box-sizing: border-box;
  transition: all 200ms ease-in;
  padding-right: 0 !important;
}

ul.menu li:nth-of-type(1) {
  margin: 0 30px 0 0 !important;
}

ul.menu a.nav-link:hover {
  transform: translateY(-2px);
  color: var(--light);
}

ul.menu a.nav-link.active {
  color: var(--neutral);
}

ul.menu a.nav-link:active {
  color: var(--normal);
  transform: translateY(2px);
}

ul.menu a.nav-link.active i {
  color: var(--light);
}

.icon-nav {
  font-size: 28px !important;
}

ul.menu li:nth-of-type(2) a.nav-link .icon-nav {
  box-sizing: border-box;
  font-size: 30px !important;
}
ul.menu li:nth-of-type(1) a.nav-link .icon-nav {
  padding-bottom: 3px;
}
ul.menu a.nav-link span {
  display: block;
  padding-left: 5px;
  padding-bottom: 2.5px;
}
/* hamburger style */

.hamburger-lines {
  display: none;
  height: 23px;
  width: 35px !important;
  z-index: 2;
  position: absolute;
  left: 90%;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
}

.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #333;
  opacity: inherit;
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out 0.2s,
    box-shadow 0.4s ease-in-out 0.3s;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out, background-color 0.4s ease-in-out 0.1s,
    box-shadow 0.4s ease-in-out 0.2s;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out 0.2s,
    box-shadow 0.4s ease-in-out 0.3s;
}

nav.navbar input[type="checkbox"] {
  position: absolute;
  display: none;
  height: 50px;
  width: 50px;
  top: 15px;
  left: 89%;
  z-index: 5;
  opacity: 0;
}

nav.navbar input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(35deg);
}

nav.navbar input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

nav.navbar input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-35deg);
}
nav.navbar .hamburger-lines .line {
  background-color: var(--black);
  box-shadow: 0 0 0 2px rgb(0, 0, 0);
}

nav.navbar input[type="checkbox"]:checked ~ .hamburger-lines .line {
  background-color: var(--neutral);
  box-shadow: none;
}

.search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
  margin-top: -5px;
}

.search input {
  display: none;
  left: 0;
  position: absolute;
  background-color: transparent;
  border: none;
  background-color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 40px;
  margin: 0;
  width: 90%;
  color: black;
  padding-left: 20px;
  font-size: 20px;
  letter-spacing: 0;
  box-sizing: border-box;
  border-right: none;
  font-family: "Inter", sans-serif;
}

.search label {
  width: 50px;
}

.search input.focused {
  display: block;
}

.search input.focused ~ label > button {
  background-color: white;
}

.search button {
  padding-top: 3px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background-color: transparent;
  height: 40px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  width: fit-content;
  align-items: center;
}

/* media*/
@media only screen and (max-width: 1200px) {
  .search input {
    width: 85%;
  }
  nav div {
    z-index: 1000;
    width: 85% !important;
    margin: 0 auto;
  }

  .icon-nav {
    font-size: 25px !important;
  }

  ul.menu a.nav-link,
  ul.menu a.nav-link:visited {
    font-size: 18px;
  }

  ul.menu li:nth-of-type(2) a.nav-link .icon-nav {
    box-sizing: border-box;
    font-size: 27px !important;
  }
}
@media only screen and (max-width: 360px) {
  nav.navbar input[type="checkbox"] {
    display: block;
  }
  nav div {
    margin: 0;
  }
  nav.navbar {
    border-bottom: 0.5px solid rgba(245, 245, 245, 0.185);
    width: 100%;
  }

  a.navbar-brand,
  a.navbar-brand:hover,
  a.navbar-brand:active,
  a.navbar-brand:visited {
    font-size: 28px !important;
    margin-left: 1px !important;
  }
  nav.navbar input[type="checkbox"] {
    cursor: pointer;
    top: 12px;
    left: 89%;
    width: 36px;
    height: 36px;
  }

  nav div {
    z-index: 1000;
    width: 85% !important;
    margin: 0;
  }

  .hamburger-lines {
    display: flex;
    opacity: 1;
    cursor: pointer;
    left: 89%;
  }

  .hamburger-lines > .line {
    background-color: var(--neutral) !important;
  }

  .nav.menu {
    flex-direction: column;
    text-align: start;
    flex-wrap: nowrap;
    background-color: var(--black);
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
    right: 0;
    margin: 0;
    padding: 70px 0 0 0;
    opacity: 0;
    top: 0;
    transition: all 400ms ease-in-out 50ms;
    row-gap: 0;
  }

  ul.menu a.nav-link span {
    display: block;
    padding-left: 5px;
    padding-bottom: 3.5px;
  }

  .nav.menu li {
    display: flex;
    padding: 30px 0 30px 5px;
    align-items: center;
  }

  li.nav-item {
    width: 100%;
  }

  li.nav-item:nth-child(1) {
    order: 2;
    box-shadow: 0 -1px 0 0 #333f44, 0 -1.5px 0 0 black;
  }
  li.nav-item:nth-child(2) {
    order: 3;
    box-shadow: 0 1px 0 0 #333f44, 0 1.5px 0 0 black, 0 -0.5px 0 0 black,
      0 -1.5px 0 0px #333f44, 0 -2px 0 0 black;
  }
  li.nav-item:nth-child(3) {
    padding-left: 8px;
    order: 1;
  }

  nav.navbar input[type="checkbox"]:checked ~ .nav.menu {
    opacity: 1;
    transition: all 400ms ease-in-out;
  }

  .search {
    width: 90%;
  }

  .search input {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    display: block;
    height: 40px;
    margin: 0;
    background-color: transparent;
    width: 90%;
    color: white;
    padding-left: 5px;
    font-size: 12px;
    padding-left: 20px;
    border: 1px solid white;
    border-right: none;
  }

  .search label {
    width: 10%;
  }
  .search input.focused {
    background-color: transparent;
  }

  .search input.focused ~ label > button {
    background-color: transparent;
  }

  .search button {
    padding-right: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    background-color: transparent;
    border: 1px solid white;
    border-left: none;
  }

  .search button > svg {
    height: 18px !important;
    width: 18px !important;
    margin-top: -2px;
  }

  .search button > svg > path {
    fill: white;
  }
}

/* end navbar style */
